{% load static %}
{% include 'shoe/header.html' %}

<link rel="stylesheet" href="{% static 'shoes/creat_shoes.css' %}">
<form class="air"  method="post" enctype="multipart/form-data">
<div class="form-inner">
<div class="stripes-block"></div>
<div class="form-row">
<label for="name">Добавить комментарий</label>
<input type="text" id="name" required>
</div>
<div class="form-row-icon">
<i class="fa fa-paper-plane-o"></i>
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Добавить</button>
</div>
</div>
</form>
</body>
</html>