{% include 'shoe/header.html' %}
<br><br><br>
<h1 class="display-4 text-center mb-5">Список кроссовок</h1>
<div class="container">
    <div class="row-cols-1 row-cols-md3 g-4">
    {% for shoe in shoes %}
        <div class="col">
            <div class="card custom-card-style" style="width: 18rem;">
                <img src="{{shoe.image_1}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{shoe.name}}</h5>
                            <p class="card-text">{{shoe.brand}}</p>
                            <p class="card-text">{{shoe.model}}</p>
                            <p class="card-text">{{shoe.category}}</p>
                            <p class="card-text">{{shoe.color}}</p>
                            <p class="card-text">{{shoe.discount}}</p>
                            <p class="card-text">{{shoe.price}}</p>
                            <a href="/shoe_detail/{{shoe.id}}" class="btn btn-primary">Детали</a>
                    </div>
            </div>
        </div>
    </div>
</div>
    {%endfor%}
{% include 'shoe/footer.html' %}